In [18]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [19]:
# Importing the dataset
dataset = pd.read_csv('kc_house_data.csv')
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [20]:
X = dataset.iloc[:,3:].values
y = dataset.iloc[:,2].values

In [21]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [22]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [23]:
# Predicting the Train set results
y_train_pred = regressor.predict(X_train)

# Predicting the Test set results
y_test_pred = regressor.predict(X_test)

In [24]:
from sklearn.metrics import mean_squared_error
print("Train Set Mean Squared Error: %E" % mean_squared_error(y_train, y_train_pred))

print("Test Set Mean Squared Error: %E" % mean_squared_error(y_test, y_test_pred))

Train Set Mean Squared Error: 4.153665E+10
Test Set Mean Squared Error: 3.628011E+10

In [25]:
print('Estimated Intercept Coefficient: \n', regressor.intercept_)

Estimated Intercept Coefficient:
 4166134.73228

In [26]:
print(' Coefficients: \n', regressor.coef_)

 Coefficients:
 [ -3.46742834e+04   3.94309995e+04   1.12610340e+02   1.75888746e-01
   7.42456797e+03   6.05600540e+05   5.27368869e+04   2.61695179e+04
   9.35901530e+04   7.27875915e+01   3.98227483e+01  -2.60713695e+03
   2.01053037e+01  -5.67468820e+02   6.04865960e+05  -2.22392027e+05
   2.42333810e+01  -4.67450069e-01]

In [27]:
print('Number of Coefficients: \n', len(regressor.coef_))

Number of Coefficients:
 18

In [28]:
all_features = list(dataset.columns.values)
no_use = ['id','date','price']

features = [x for x in all_features if x not in no_use]

In [29]:
feature_coefficients = pd.DataFrame(list(zip(features,regressor.coef_ )) , columns = ['features' , 'Estimated Coefficients'])
feature_coefficients

         features  Estimated Coefficients
0        bedrooms           -34674.283350
1       bathrooms            39430.999460
2     sqft_living              112.610340
3        sqft_lot                0.175889
4          floors             7424.567968
5      waterfront           605600.539816
6            view            52736.886851
7       condition            26169.517871
8           grade            93590.153038
9      sqft_above               72.787592
10  sqft_basement               39.822748
11       yr_built            -2607.136952
12   yr_renovated               20.105304
13        zipcode             -567.468820
14            lat           604865.960100
15           long          -222392.026501
16  sqft_living15               24.233381
17     sqft_lot15               -0.467450